$textMargin: 5px;
$bigFont: 34px;
$midFont: 30px;
$smallFont: 28px;
$subHeadColor: #747273;
$layoutMargin: 10px;

.list{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid #ABECF1;

    .image{
        width: 160px;
        height: 105px;
        margin: $textMargin;
    }
    .title{
        font-size: $midFont;
        margin: $textMargin;
    }
    .from{
        font-size: $smallFont;
        color: $subHeadColor;
        margin: $textMargin;
    }
    .right{
        width: 32px;
        height: 32px;
    }
    .price{
        font-size: $bigFont;
        color: #e02727;
        margin: $textMargin;
    }
    .class-hour{
        font-size: $smallFont;
        color: $subHeadColor;
        margin: $textMargin;
    }
    .item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        margin: $layoutMargin;
    }
    .center-item{
        align-self: center;
        margin: $layoutMargin;
    }
}